In [1]:
import pandas as pd

In [53]:
data = pd.read_csv('corpora/corpus-q1-v2.csv')

In [54]:
data.head(10)

,gr,gi
0,OBRIGAR POR AJUDAR [PONTO],OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]
1,OBRIGAR POR AJUDAR [PONTO],OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]
2,OBRIGAR POR AJUDAR [PONTO],OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]
3,PODER TE AJUDAR [INTERROGAÇÃO],PODER_POSSIBILIDADE 1S_AJUDAR_2S [INTERROGAÇÃO]
4,CONTUDO EXISTIR FOTOGRAFIA TIRAR DIA DEZENOVE...,CONTUDO EXISTIR FOTOGRAFIA DIA DEZENOVE OUTUBR...
5,OUVIR MÚSICO JOVEM GUARDA POIS ISSO AJUDAR M...,OUVIR MÚSICA JOVEM GUARDA 1S_AJUDAR_2S CARREIR...
6,APÓS DOAR SESMARIA SEU CONSEQUENTE DIVISÃO U...,APÓS DOAÇÃO SESMARIA CONSEQUENTE DIVISÃO ANO_D...
7,SENADORA # DEMOCRATA BRASIL QUE CHEFIAR COMIT...,SENADOR # DEMOCRATA BRASIL _PAÍS QUE PRESIDIR ...
8,PODER TE AJUDAR [INTERROGAÇÃO],PODER_POSSIBILIDADE 1S_AJUDAR_2S [INTERROGAÇÃO]
9,PODER TE AJUDAR [INTERROGAÇÃO],PODER_POSSIBILIDADE 1S_AJUDAR_2S [INTERROGAÇÃO]

In [55]:
data.columns

Index(['gr', 'gi'], dtype='object')

In [56]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21792 entries, 0 to 21791
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   gr      21792 non-null  object
 1   gi      21792 non-null  object
dtypes: object(2)
memory usage: 340.6+ KB

In [57]:
text1 = data['gr'][0]
text2 = data['gi'][0]#texto edidato

In [58]:
text1

'OBRIGAR POR  AJUDAR [PONTO]'

In [59]:
text2

'OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]'

### Importando regex engine

In [60]:
#importando regex engine
import re

In [90]:
text1 = data['gr']
text2 = data['gi']#texto edidato com Qualificadores E Quantificadores

In [91]:
#pesquisando a presença de letras S ou P seguida de dígitos 1,2 ou 3 
cont = 0
target = '[S|P][1-3]'

for i in range(len(text2)):
    x = re.search(target,text2[i])
    if(x != None):
        cont+=1

In [92]:
# Não há preseça de letras no padrão "<S ou P><Numero>__verbo__<S ou P><Numero>"
print(cont)

0

### Script 01 corrijindo casos invertidos

In [277]:
#exemplo 01 de texto para script 01
txt = 'P2_PERGUNTAR_S1 asdasd S2_PERGUNTAR_S1'#texto exemplo

def inverted_cases(txt):
    target = '[S|P][1-3]'
    result_txt = txt
    
    result = re.findall(target,txt)

    while(result != []): 
        new_txt = result[0][::-1]

        result_txt = re.sub(result[0],new_txt,result_txt)
        
        result = re.findall(target,result_txt)
        
    #print('texto:',txt,'\nE seu resultado:',result_txt)
    return (result_txt)

inverted_cases(txt)#exemplo

'2P_PERGUNTAR_1S asdasd 2S_PERGUNTAR_1S'

### Script 02 simplificando múltiplos sinais '+

In [278]:
#exemplo 02 script 02
txt = 'algo(++++++++)_blabla asdas (+++)'#texto exemplo

def single_sinal(txt):
    target = '[+]+'
    result_txt = txt
    
    result = re.findall(target,txt)
    
    if(result != []):
        new_txt = '+'
        result_txt = re.sub(target,new_txt,txt)
        #print('Texto:',txt,'\nE seu resultado:',result_txt)
    return (result_txt)
    
single_sinal(txt)#exemplo

'algo(+)_blabla asdas (+)'

### Script 03 simplificando espaços multiplos

In [279]:
#exemplo 03 script 03 simplificando espaços multiplos
txt = 'ABELHA    AMARELA_asdasd asasdasd   a'# exemplo

def single_spaces(txt):
    target = '\s+'
    result_txt = txt
    
    result = re.findall(target,txt)
    
    if(result != []):
        new_txt = ' '

        result_txt = re.sub(target,new_txt,txt)
        #print('Texto:',txt,'\nE seu resultado:',result_txt)
    return (result_txt)

single_spaces(txt)#exemplo

'ABELHA AMARELA_asdasd asasdasd a'

### Script 04 removendo hífen '-'  entre dígitos

In [280]:
#exemplo 04 script 04 removendo hífen '-'
txt = '2-2-33----a4-4'#

def remove_h(txt):
    target = '\d+-+\d'

    result_search = re.findall(target,txt)

    result_txt = txt

    while(result_search!=[]):
        new_txt = re.sub('-','',result_search[0])

        result_txt = re.sub(result_search[0],new_txt,result_txt)

        result_search = re.findall(target,result_txt)

    #print('Texto:',txt,'\nE seu resultado:',result_txt)
    return(result_txt)

remove_h(txt)#exemplo

'2233----a44'

### Script 05 removendo espaços incorretamente inseridos antes de qualificadores de local

In [281]:
#exemplo 05 script 05 
txt = '"IR RECIFE   _ESTADO BBB   _CIDADE'#
def remove_space_local(txt):
    target = '\s+_CIDADE|\s+_ESTADO|\s+_PAÍS'#'[\s+_[CIDADE|ESTADO|PAÍS]]'
    result_txt = txt

    result = re.findall(target,txt)
    
    while(result != []):
        new_txt = re.sub('\s+','',result[0])

        result_txt = re.sub(result[0],new_txt,result_txt)
        
        result = re.findall(target,result_txt)
        
    #print('Texto:',txt,'\nE seu resultado:',result_txt)
    return(result_txt) 
    
remove_space_local(txt)#exemplo

'"IR RECIFE_ESTADO BBB_CIDADE'

### Script 06  removendo espaços incorretamente inseridos antes de qualificadores direcionais na direita

In [283]:
#exemplo 06 script 06 
txt = '1S_DAR _3P  1P_DAR _1S'#
def remove_space_right(txt):
    target = '\s+_[1-3][S|P]'
    result_txt = txt

    result = re.findall(target,txt)

    while (result != []):

        new_txt = re.sub('\s','',result[0])

        result_txt = re.sub(result[0],new_txt,result_txt)

        result = re.findall(target,result_txt)

    return(result_txt)

remove_space_right(txt)

'1S_DAR_3P  1P_DAR_1S'

### Script 07 adicionando espaços após os qualificadores direcionais pela esquerda

In [284]:
#exemplo 07 script 07 
txt = '1S_DAR_3P 1P_DAR_3P'

def add_space_right(txt):
    target = '([1-3][S|P]_)\w'
    result_txt = txt

    result_search = re.findall(target,txt)
    
    while(result_search != []):

        new_txt = re.sub(result_search[0],result_search[0]+' ',result_search[0])
        
        result_txt = re.sub(result_search[0],new_txt,result_txt)

        result_search = re.findall(target,result_txt)

    #print('Texto:',txt,'\nE seu resultado:',result_txt)
    return(result_txt)

add_space_right(txt)

'1S_ DAR_3P 1P_ DAR_3P'

### Script 08 removendo os espaços à esquerda dos qualificadores de intensidade

In [253]:
#exemplo 08 script 08 
txt = 'AMAR (+) AMAR   (-)'
def remove_space_left(txt):
    
    target = '\s+\(\++\)|\s+\(\-+\)'

    result_search = re.findall(target,txt)

    result_txt = txt

    while(result_search != []):
        new_txt = re.sub('\s+','',result_search[0])

        result_txt = re.sub('\s+\(\{0}+\)'.format(new_txt[1]),new_txt,result_txt)

        result_search = re.findall(target,result_txt)

    #print('Texto:',txt,'\nE seu resultado:',result_txt)
    return(result_txt)
remove_space_left(txt)

'AMAR(+) AMAR(-)'

### Script 09 substituindo NÃO por _

In [261]:
txt = 'NÃO GOSTAR NÃO GOSTAR '
def subs_not(txt):
    target = 'NÃO\s+'
    
    result_txt = txt

    result_search = re.findall(target,txt)
    
    if(result_search!= []):
        new_txt = re.sub('\s+','_',result_search[0])
        
        result_txt = re.sub(target,new_txt,result_txt)

        #print('Texto:',txt,'\nE seu resultado:',result_txt)
    return(result_txt)
subs_not(txt)

'NÃO_GOSTAR NÃO_GOSTAR '

### Script 10 & no lugar de "_"FAMOSO ou "_"FAMOSA

In [271]:
txt = 'ALBERT_EINSTEIN_FAMOSO ALBERT_EINSTEIN_FAMOSA'
def famoso(txt):
    
    target= '_FAMOSO|_FAMOSA'

    result_txt = txt

    result_search = re.findall(target,txt)
    while(result_search != []):
        
        new_txt = re.sub('_','&',result_search[0])
        
        result_txt = re.sub(result_search[0],new_txt,result_txt)

        result_search = re.findall(target,result_txt)
        
    return(result_txt)
famoso(txt)

'ALBERT_EINSTEIN&FAMOSO ALBERT_EINSTEIN&FAMOSA'

### Script 11 removendo todos os pontos que não pertençam a um número decimal

In [275]:
txt = 'IR. ONTEM. BANCO AA. BANCO'
def remove_point(txt):
    target= '\w+\.|\.\w+'

    result_txt = txt

    result_search = re.findall(target,txt)

    while(result_search != []):
        new_txt = re.sub('\.','',result_search[0])

        result_txt = re.sub(result_search[0],new_txt,result_txt)

        result_search = re.findall(target,result_txt)
    return(result_txt)
remove_point(txt)

'IR ONTEM BANCO AA BANCO'

### Script 12 o 0 implícito em números decimais

In [276]:
txt = 'PAGAR .72 PAGAR    .55"'
def zero(txt):
    target= '\s\.\d+'

    result_txt = txt

    result_search = re.findall(target,txt)

    while(result_search != []):
        new_txt = re.sub('\.','0.',result_search[0])

        result_txt = re.sub(result_search[0],new_txt,result_txt)

        result_search = re.findall(target,result_txt)
    return(result_txt)
zero(txt)

'PAGAR 0.72 PAGAR    0.55"'

### Tratando o data frame

In [285]:
n = len(text1)

for i in range(n):
    #corrijindo casos invertidos
    inverted_cases(text1[i])
    inverted_cases(text2[i])
    
    #simplificando múltiplos sinais '+'
    single_sinal(text1[i])
    single_sinal(text2[i])
    
    #simplificando espaços multiplos
    single_spaces(text1[i])
    single_spaces(text2[i])
    
    #removendo hífen '-' entre dígitos
    remove_h(text1[i])
    remove_h(text2[i])
    
    #removendo espaços incorretamente inseridos antes de qualificadores de local
    remove_space_local(text1[i])
    remove_space_local(text2[i])
    
    #removendo espaços incorretamente inseridos antes de qualificadores direcionais na direita
    remove_space_right(text1[i])
    remove_space_right(text2[i])
    
    #adicionando espaços após os qualificadores direcionais pela esquerda
    add_space_right(text1[i])
    add_space_right(text2[i])
    
    #removendo os espaços à esquerda dos qualificadores de intensidade
    remove_space_left(text1[i])
    remove_space_left(text2[i])
    
    #substituindo NÃO por _
    subs_not(text1[i])
    subs_not(text2[i])
    
    #& no lugar de "_"FAMOSO ou "_"FAMOSA
    famoso(text1[i])
    famoso(text2[i])
    
    #removendo todos os pontos que não pertençam a um número decimal
    remove_point(text1[i])
    remove_point(text2[i])
    
    #12 o 0 implícito em números decimais
    zero(text2[i])
    zero(text2[i])

In [286]:
text1.head()

0                          OBRIGAR POR  AJUDAR [PONTO]
1                          OBRIGAR POR  AJUDAR [PONTO]
2                          OBRIGAR POR  AJUDAR [PONTO]
3                       PODER TE AJUDAR [INTERROGAÇÃO]
4    CONTUDO EXISTIR FOTOGRAFIA TIRAR  DIA DEZENOVE...
Name: gr, dtype: object

In [287]:
text2.head()

0          OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]
1          OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]
2          OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]
3      PODER_POSSIBILIDADE 1S_AJUDAR_2S [INTERROGAÇÃO]
4    CONTUDO EXISTIR FOTOGRAFIA DIA DEZENOVE OUTUBR...
Name: gi, dtype: object

In [289]:
data['gr'] = text1
data['gi'] = text2

In [290]:
data.head()

,gr,gi
0,OBRIGAR POR AJUDAR [PONTO],OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]
1,OBRIGAR POR AJUDAR [PONTO],OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]
2,OBRIGAR POR AJUDAR [PONTO],OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]
3,PODER TE AJUDAR [INTERROGAÇÃO],PODER_POSSIBILIDADE 1S_AJUDAR_2S [INTERROGAÇÃO]
4,CONTUDO EXISTIR FOTOGRAFIA TIRAR DIA DEZENOVE...,CONTUDO EXISTIR FOTOGRAFIA DIA DEZENOVE OUTUBR...

### Salvando o data frame modificado

In [300]:
data.to_csv('corpus-respostas/corpus-q1-resposta.csv',index=False)

In [301]:
res = pd.read_csv('corpus-respostas/corpus-q1-resposta.csv')

In [302]:
res.head()

,gr,gi
0,OBRIGAR POR AJUDAR [PONTO],OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]
1,OBRIGAR POR AJUDAR [PONTO],OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]
2,OBRIGAR POR AJUDAR [PONTO],OBRIGADO_AGRADECIMENTO 2S_AJUDAR_1S [PONTO]
3,PODER TE AJUDAR [INTERROGAÇÃO],PODER_POSSIBILIDADE 1S_AJUDAR_2S [INTERROGAÇÃO]
4,CONTUDO EXISTIR FOTOGRAFIA TIRAR DIA DEZENOVE...,CONTUDO EXISTIR FOTOGRAFIA DIA DEZENOVE OUTUBR...